/ShilpaJava/.idea/misc.xml
/ShilpaJava/.idea/workspace.xml
/ShilpaJava/.idea/modules.xml
/ShilpaJava/.idea/vcs.xml
../.DS_Store
../JavaProblems/.DS_Store
.DS_Store
./src/.DS_Store
./src/com/.DS_Store
/Users/charanteja/IdeaProjects/ShilpaJava/.idea
/Users/charanteja/IdeaProjects/IdeaProjects.iml
/Users/charanteja/IdeaProjects/ShilpaJava/ShilpaJava/.idea